<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" routerLink="/home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="repertoire" routerLink="/repertoire">
            <ion-icon name="albums-outline"></ion-icon>
            <ion-label>Repertorio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="declaraciones" routerLink="/declaraciones">
            <ion-icon name="create-outline"></ion-icon>
            <ion-label>Declaraciones</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="repartos" routerLink="/repartos">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-label>Repartos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile" routerLink="/profile">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
    <ion-router-outlet></ion-router-outlet>
</ion-tabs>