<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Repertorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Repertorio</ion-title>
    </ion-toolbar>
  </ion-header>

    
      <ion-card>
        <ion-item button *ngFor="let item of items" detail="true">
          <ion-label routerLink = "/repertoire-detail">
            <p>Título: {{item.titulo}}</p>
            <p>Artista / Banda: {{item.artista}}</p>
            <p>Participación: {{item.participacion}}</p>
          </ion-label>
        </ion-item>
      </ion-card>

    
    <ng-template #noItems>
      <p>No hay elementos para mostrar.</p>
    </ng-template>
</ion-content>
